<div class="tile is-parent">
  <% slice.each do |hit| %>
    <div class="tile content is-child">
      <h3 class="subtitle"><%= I18n.t("examples.find.description", :default => 'Description') %></h3>
      <p class="title"><%= link_to hit.description, examples_show_path(id: hit.id) %></p>
    </div>
  <% end %>
</div>
