<% provide(:title, I18n.t('examples.list.title')) %>
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <% Structure.all.each_slice(4) do |slice| %>
      <div class="tile is-parent">
        <% slice.each do |s| %>
          <article class="tile is-child content">
            <h2 class="title"><%= s.name %></h2>
            <ul>
              <% s.examples.each do |e| %>
                <li><%= link_to e.description[0..50], examples_show_path(:id => e.id) %></li>
              <% end %>
            </ul>
          </article>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
