/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require bulma
 */
select[multiple].multi-select {
    all: initial;
    font: inherit;
    overflow-y: auto;
    border-radius: 3px;
    padding-bottom: 0.5em;
    padding-left: 0.625em;
    padding-top: 0.5em;
    background-color: white;
    border: 1px solid #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    outline: none;
    padding-right: 2.5em;
    height: 13em;
}

select[multiple].multi-select:active, select[multiple].multi-select:focus {
    border-color: #00d1b2;
}
